<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SystemManagement.Web.Public.AuthService"
                  behaviorConfiguration="AuthServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="SystemManagement.Web.Public.IAuthService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint name="mexHttpBinding" contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AuthServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <connectionStrings>
    <add name="SystemManagementEntities" connectionString="metadata=res://*/SystemModel.csdl|res://*/SystemModel.ssdl|res://*/SystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DUCTRI-PC\MSSQLSERVER2008;Initial Catalog=SM;User ID=sa;Password=vanlang;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>